@model pBrainTrain.Domain.Question

@{
    ViewBag.Title = "Details";
}



<div>
    @if (!string.IsNullOrEmpty(Model.Picture))
    {
        <img src="@Url.Content(Model.Picture)" alt="Image" class="LogoMedio" style="max-height:200px;max-width:150px" />
    }
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Category.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QuestionName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QuestionName)
        </dd>

        

       

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.QuestionId }) |
    @Html.ActionLink("Back to List", "Index")
</p>


<h2  >
    Answers
</h2>
<p>@Html.ActionLink("Create an Answer", "AnswerCreate", new { id = Model.QuestionId })  </p>

@if (Model.Answers.Count == 0)
{
    <h4> Theres no Ansers to this question yet</h4>
}
else
{
    <table class="table">
        <tr>

            <th>
                Answer
            </th>
            <th>
                Is Correct?
            </th>

            <th></th>
        </tr>

        @foreach (var item in Model.Answers)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsTheAnswer)
            </td>
            <td>
                @Html.ActionLink("Edit", "AnswerEdit", new { id = item.AnswerId }) |
                @Html.ActionLink("Details", "AnswerDetails", new { id = item.AnswerId }) |
                @Html.ActionLink("Delete", "AnswerDelete", new { id = item.AnswerId })
            </td>
        </tr>
        }

    </table>
}
